<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public/css/stylesreceta1.css">
    <title>Document</title>
</head>

<body>
    <h1>Receta de boronia colombiana</h1>
    <p>Este plato tradicional es una parte integral de la gastronomía en la
        región caribeña de Colombia, especialmente de los departamentos de
        Atlántico, Bolívar y Magdalena.</p>
        <img src="public/img/boronia-de-berenjena-receta1.jpg" alt="foto boronia de berenjena" width="500" height="250">
        <h2>Lista de Ingredientes.</h2>
    <ul>
        <li> 2 berenjenas</li>
        <li>2 plátanos maduros (muy maduros)</li>
        <li>3 tomates maduros</li>
        <li>150 gramos de cebolla larga</li>
        <li>1 cucharadita de mantequilla</li>
        <li>50 gramos de queso parmesano o queso costeño (opcional)</li>
        <li>1 pizca de sal</li>
        <li>1 pizca de pimienta negra</li>
        <li>1 pizca de pasta de ajo o ajo en polvo</li>
        <li>1 cucharada de aceite de oliva</li>
    </ul>
    <h2>Cómo hacer una boronía colombiana</h2>
    <ol>
        <li>Prealistar los ingredientes. Pelar los plátanos maduros y los tomates.</li>
        <li>Cortar las berenjenas en trozos y colocarlas junto con los plátanos en una fuente para horno.
            Añadir sal, pimienta negra y una cucharada de aceite de oliva. Llevar al horno precalentado
            a 180°C durante 25-30 minutos, o hasta que estén blandos para hacer puré.</li>
        <li>Mientras, picar la cebolla larga muy fina. En una sartén, llevar la cebolla picada
            y los tomates pelados y picados a fuego medio con un poco de aceite. Cocinar durante
            10-15 minutos, hasta que el hogao esté espeso y los sabores bien integrados. Añadir
            sal, pimienta y pasta de ajo al gusto.</li>
        <li>Una vez que las berenjenas y los plátanos estén listos, retirarlos del horno
            y colocarlos en un bol. Añadir la mantequilla y triturar hasta obtener un puré
            homogéneo. Ajustar la sal y pimienta al gusto.</li>
        <li>Para servir, emplatar primero el puré de berenjena y plátano, cubrir
            con el hogao de cebolla y tomate, y espolvorear un poco de queso parmesano
            o queso costeño por encima. Si se desea, gratinar ligeramente el queso en el
            horno o dejar que se derrita con el calor del puré.</li>
        <li>Este plato se puede disfrutar solo o como acompañamiento de otros platos.</li>
    </ol>
    <iframe width="500" height="250" src="https://www.youtube.com/embed/Y7jEezYiHPE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br>
    <a href="https://www.paulinacocina.net/boronia/36480">Leer Receta en Web</a>
    <a href="public/views/Receta2.html">Leer receta 2</a>
    <a href="index.html">Volver al Inicio</a>
</body>

</html>