<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public/css/stylesreceta2.css">
    <title>Document</title>
</head>

<body>
    <h1>Tarta de limón sin horno.</h1>
    <p>Si buscas una receta dulce para celebrar el verano sin pasar
        calor, esta tarta de limón y galletas lleva tu nombre</p>
    <h2>Lista de Ingredientes</h2>
    <ul>
        <li>120 g de galletas tipo Digestive, María o cereales tipo corn flakes</li>
        <li>200 ml de agua</li>
        <li>60 g de zumo de limón o de lima sin pulpa</li>
        <li>60 g de azúcar</li>
        <li>1 sobre de preparado de 80 g de gelatina de limón</li>
        <li>500 g de leche evaporada</li>
    </ul>
    <h2>Pasos</h2>
    <ol>
        <li>Triturar las galletas o cereales hasta obtener una textura de arena fina.</li>
        <li>Colocar las galletas trituradas en la base de un molde de tarta desmontable engrasado de 18 cm de diámetro.</li>
        <li>Presionar bien la base con un vaso o cuchara grande para compactarla.</li>
        <li>En un cazo, calentar el agua, el zumo de limón o lima y el azúcar.</li>
        <li>Cocer a fuego suave durante unos cinco minutos o hasta que comience a hervir.</li>
        <li>Separar del fuego y añadir la gelatina en polvo, espolvoreándola mientras se remueve hasta que se disuelva por completo.</li>
        <li>Incorporar la leche evaporada y remover hasta que se integre completamente.</li>
        <li>Verter cuidadosamente esta mezcla sobre la base del molde.</li>
        <li>Colocar el molde en la nevera y dejar cuajar durante varias horas, preferiblemente de un día para otro.</li>
        <li>Desmoldar y servir la tarta bien fría.</li>
    </ol>
    <iframe width="500" height="250" src="https://www.youtube.com/embed/pWVl69RnKyk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <br>
    <a href="https://www.directoalpaladar.com/postres/esta-refrescante-tarta-limon-horno-va-a-ser-tu-postre-estrella-verano-facil-pocos-ingredientes">Leer receta web</a>
    <a href="public/views/Receta1.html">Leer receta 1</a>
    <a href="index.html">Volver al inicio</a>
</body>

</html>